
.bannerAbout {
  background-image: url('../../assets/lis.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
    padding: 0 20px;

}