

/* .navbar {
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
} */

.contain {
  background-color: #e8e4d9;
  /* margin-bottom: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; */
}
.container-fluid {
  margin: 0px;
  padding: 0px;
  /* width: 98%; */
}

.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;; 
}

.nb-1 {
  margin-right: -10px; /* réduit la marge droite des boutons */
}

.navbar-toggler {
  margin-left: -10px; /* réduit la marge gauche du bouton burger */
}

.custom-nav li {
  width:150px;
  padding:0px 0px 0px 10px;
}
